*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calc-container{
    outline: 3px solid black;
    border-radius: 10px;
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.primary-calc-screen{
    display: flex;
    margin-top: 0.5em;
    padding: 0 0.3em;
    outline: 4px solid black;
    border-radius: 3px;
    width: 85%;
    height: 20%;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 3rem;
}

.btn-rows{
    display: flex;
    gap: 20px;
    margin-bottom: 1.5em;
}
.button{
    cursor: pointer;
    display: flex;
    outline: 2px solid black;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding: 2rem;
}

#delete,#clear{
    font-size: 1.05rem;
}

#equals{
    flex: 1 1 auto;
    font-size: 2rem;
}